/* .jota-recreation {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    text-transform:capitalize;
} */

main {
    display:flex;
    justify-content:space-between;
}

section {
    border: 3px solid yellow
}

.flamenco-header h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

img {
    max-width: 50%;
    width:100px;
}