.jota-recreation p {
    text-transform:lowercase;
    color: red;
    font-weight: bold;
    font-size: x-large;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flamenco-header h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: blue;
    text-transform:capitalize;
}

img {
    max-width: 50%;
    width: 100px;
    padding:3%;
}

article {
    padding:4%;
    text-transform: capitalize;
    border: 3px solid yellow;
    font-weight:bold;
    display:flex;
    justify-content:space-between;
}

.flamenco-footer {
    padding-top:2%;
}